################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Mud.Feishu/bin/Debug
/Mud.Feishu/obj
/Mud.Feishu.Test/obj
/Mud.Feishu.Test/bin/Debug/net10.0
/Mud.Feishu.Test/bin/Debug
/Mud.Feishu/bin/Release
/Mud.Feishu.Test/.config
/Mud.Feishu.Test/bin/Release
/Mud.Feishu.Test/Properties/PublishProfiles
*.user
/Mud.Feishu.WebSocket/bin/Debug
/Mud.Feishu.WebSocket/bin/Debug/net10.0
/Mud.Feishu.WebSocket/obj
/Mud.Feishu.WebSocket.Demo/bin
/Mud.Feishu.WebSocket.Demo/obj
/Mud.Feishu.WebSocket.Demo/bin/Debug/net8.0
/bin/Debug
/Mud.Feishu.Abstractions/bin/Debug
/Mud.Feishu.Abstractions/obj
/Mud.Feishu.Webbook/obj
